@model TESTE.Models.Morador

@{
    ViewData["Title"] = "Editar Morador";
}

<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

<div class="box-shadow p-5">
    <h1>Editar</h1>

    <h4>Morador</h4>
    <hr />
        <div class="form-group col-md-12"><small>Campos Obrigatórios ( <span class="required"></span> )</small></div>
        <div class="column">
            <form asp-action="Edit" class="w-100 d-flex flex-lg-wrap">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-8">
                    <label asp-for="Nome" class="control-label required"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Cpf" class="control-label required"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Apt" class="control-label required"></label>
                    <input asp-for="Apt" class="form-control" />
                    <span asp-validation-for="Apt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Bloco" class="control-label required"></label>
                    <input asp-for="Bloco" class="form-control" />
                    <span asp-validation-for="Bloco" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Dependentes" class="control-label required"></label>
                    <input asp-for="Dependentes" class="form-control" />
                    <span asp-validation-for="Dependentes" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>

    <div class="form-group  col-md-12">
        <button class="btn btn-primary"><a style="color:white; text-decoration:none;" asp-action="Index">Voltar para lista</a></button>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
